/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* global styles */
  body {
    margin-top: 2em;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1em;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.5s ease;
  }
  
 
    .container {
        flex-basis: calc(50% - 10px);
        margin-bottom: 20px;
        padding: none;
        border-radius: 5px;
        background-color: var(--bg-color);
        color: var(--text-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
        height: 90%;
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--bg-color);
        color: var(--text-color);
      }
  
  
  h1 {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  nav {
    display: flex;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: fixed;
  width: 100%;
  top: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  nav ul li a:hover {
    color: #fff;
    background-color: #333;
    transition: background-color 0.5s ease;
  }
  
  .card {
    flex: 0 0 calc(50% - 10px);
    margin: 5px;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    overflow: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-evenly;
  }
  
  .card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.5s ease;
  }
  
  .btn:hover {
    background-color: #555;
    color: #333;
    border: 1px solid #333;
    transition: background-color 0.5s ease;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    
    
  }
  
  .col-sm-12 {
    flex: 1 0 100%;
    padding: 1rem;
  }
  
  @media (max-width: 480px) {
    .col-md-6 {
      flex: 0 0 calc(50% - 10px);
    }
  }
  @media (min-width: 576px) {
    .col-md-6 {
      flex: 0 0 calc(50% - 10px);
      padding: 1rem;
    }
  }
  @media screen and (max-width: 768px) {
    .col-md-6 {
      flex: 0 0 calc(50% - 10px);
      padding: 1rem;
    }
  }
  @media (min-width: 992px) {
    .col-lg-4 {
      flex: 1 0 33.33%;
      padding: 1rem;
    }
  }

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  nav.dark-mode {
    background-color: #555;
  }
  
  nav.dark-mode ul li a {
    color: #fff;
  }
  
  h1.dark-mode {
    color: #fff;
  }
  
  .card.dark-mode {
    background-color: #444;
    color: #fff;
    box-shadow: none;
  }
  
  .card.dark-mode .card-title {
    color: #fff;
  }
  
  .btn.dark-mode {
    background-color: #fff;
    color: #333;
  }
  
  .btn.dark-mode:hover {
    background-color: #eee;
  }