* {
    box-sizing: border-box;
    font-family: 'Play', cursive;
  }
  

  :root {
    --bg-color: #7ebddd;
    --text-color: #333;
  }

  .dark-mode {
    --bg-color: #333;
    --text-color: #ffffff;
  }


  .toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }

#grid {
  display: grid;
  display:grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 5px;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
 
}
  body {
    margin: 0;
    padding: 0;
    font-family: 'Play', cursive;
    font-size: 1.5em;
    line-height: 1.5;
    background-color: var(--bg-color);
    color: var(--text-color);
    

  }
  

  
  .container {
    height: 90%;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  h1 {
    text-align: center;
    margin: 0;
    text-decoration: underline;
    width: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    color: #fff;
  }

  h2 {
    text-align: center;
    align-items: center;
    margin: 0;
  }

  .fas {
    visibility: visible;
  }
  
  
  form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 3px solid var(--text-color);
    box-shadow: 0 0 10px var(--bg-color);
    border-radius: 12px;
    font-size: 1em;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  button[type="submit"] {
    padding: 10px;
    border: none;
    border: 2px solid  var(--text-color);
    border-radius: 12px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1em;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    color:yellow;
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.596);
    border:2px solid yellow;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.596) ease;
  }
  
  .weather-icon > img {
    width: 100px;
    height: 100px;
  }

  #current-weather {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #ct {
    font-size: 3em;
    margin: 0;
    color:yellow;
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.596);
  }
  
  #current-weather h2 {
    color:yellow;
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.596);
  }
  
  #forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
  }
  
  .forecast {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .forecast-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    
  }
  
  .forecast-item {
    flex: 0 0 calc(20% - 10px);
    margin: 5px;
    padding: 10px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(255, 255, 0, 0.24);
    border: 2px solid yellow;
  }
  
  @media screen and (max-width: 768px) {
    input[type="text"] {
      width: 50%;
      border-radius: 12px;
     
    }
  
    button[type="submit"] {
      width: 30%;
      border-radius: 12px;
    }
  
    .forecast {
      flex-basis: 100%;
    }

    .forecast-item {
        flex: 0 0 calc(33.33% - 10px);
      }
  }

  @media (max-width: 480px) {
    .forecast-item {
      flex: 0 0 calc(50% - 10px);
    }
  }
  
